@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
body{
    background-color: #111;
}
.bigFontSize{
    margin-top: 15vh;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
                font-size: 5vh;
            color: rgb(217, 0, 0);
            text-shadow: 0 0 5px rgba(0, 60, 255, 0.5),
                         0 0 10px rgba(187, 134, 252, 0.5),
                         0 0 15px rgba(187, 134, 252, 0.5),
                         0 0 20px rgba(187, 134, 252, 0.5),
                         0 0 25px rgba(187, 134, 252, 0.5),
                         0 0 30px rgba(187, 134, 252, 0.5),
                         0 0 35px rgba(187, 134, 252, 0.5);
            animation: shine 2s infinite;
}



@keyframes shine {
            0% {
                text-shadow: 0 0 5px rgba(187, 134, 252, 0.5),
                             0 0 10px rgba(187, 134, 252, 0.5),
                             0 0 15px rgba(187, 134, 252, 0.5),
                             0 0 20px rgba(187, 134, 252, 0.5),
                             0 0 25px rgba(187, 134, 252, 0.5),
                             0 0 30px rgba(187, 134, 252, 0.5),
                             0 0 35px rgba(187, 134, 252, 0.5);
            }
            50% {
                text-shadow: 0 0 10px rgba(187, 134, 252, 0.7),
                             0 0 20px rgba(187, 134, 252, 0.7),
                             0 0 30px rgba(187, 134, 252, 0.7),
                             0 0 40px rgba(187, 134, 252, 0.7),
                             0 0 50px rgba(187, 134, 252, 0.7),
                             0 0 60px rgba(187, 134, 252, 0.7),
                             0 0 70px rgba(187, 134, 252, 0.7);
            }
            100% {
                text-shadow: 0 0 5px rgba(187, 134, 252, 0.5),
                             0 0 10px rgba(187, 134, 252, 0.5),
                             0 0 15px rgba(187, 134, 252, 0.5),
                             0 0 20px rgba(187, 134, 252, 0.5),
                             0 0 25px rgba(187, 134, 252, 0.5),
                             0 0 30px rgba(187, 134, 252, 0.5),
                             0 0 35px rgba(187, 134, 252, 0.5);
            }
        }